<div class="nk-content nk-content-fluid">
  <div class="container-xl wide-xl">
    <div class="nk-content-body">
      <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
          <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Consultation</h3>
            <div class="nk-block-des text-soft">
              <p>La liste des consultation</p>
            </div>
          </div>
          <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
              <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
              <div class="toggle-expand-content" data-content="pageMenu">
                <ul class="nk-block-tools g-3">
                  <li>
                    <button data-bs-toggle="modal" data-bs-target="#AjouterModal" class="dropdown-toggle btn btn-primary btn-dim">
                      <em class="icon ni ni-plus"></em>
                      <span>
                        <span class="d-md-none">Ajouter</span>
                        <span class="d-none d-md-block">Ajouter Consultation</span>
                      </span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
      </div><!-- .nk-block-head -->


      <ng-container *ngIf="consultation | async; else failureOrLading">
        <app-table-consultation [consultation]="consultation"></app-table-consultation>
      </ng-container>
<!--
      <ng-container *ngIf="(consultation | async); else failureOrLading">
        <ng-container *ngIf="(dossier | async)">
          <app-table-consultation [consultation]="consultation" [dossier]="dossier"></app-table-consultation>
        </ng-container>
      </ng-container>
-->

    </div>
  </div>
</div>

<ng-template #failureOrLading>
  <ng-container *ngIf="errorMessage; else loading">
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-container>
  <ng-template #loading>
    Loading .....
  </ng-template>
</ng-template>

<!-- Ajouter Consultation Modal -->
<div class="modal fade" id="AjouterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nouveau Consultation</h1>
        <button id="closeAjouterForm" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="saveForm" (ngSubmit)="onSaveConsultation()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="medecin" class="form-label">Medecin</label>
            <select id="medecin" formControlName="medecin" class="form-control">
              <option *ngFor="let medecin of medecins | async" [value]="medecin.id">{{medecin.nom}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" id="date" formControlName="date" class="form-control">
          </div>
          <div class="mb-3">
            <label for="diagnostic" class="form-label">Diagnostic</label>
            <input type="text" id="diagnostic" formControlName="diagnostic" class="form-control">
          </div>
          <div class="mb-3">
            <label for="traitement" class="form-label">Traitement</label>
            <input type="text" id="traitement" formControlName="traitement" class="form-control">
          </div>
          <div class="mb-3">
            <label for="ordonnance" class="form-label">Ordonnace</label>
            <input type="text" id="ordonnance" formControlName="ordonnance" class="form-control">
          </div>
          <div class="mb-3">
            <label for="certificatMedical" class="form-label">Certificat Medical</label>
            <input type="text" id="certificatMedical" formControlName="certificatMedical" class="form-control">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--
</div>
-->
