<div class="nk-block">
  <div class="row g-gs">
    <div class="card card-preview">
      <div class="card-inner">
        <table class="datatable-init table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de Naissance</th>
            <th>Adresse</th>
            <th>CNI</th>
            <th>Dossier Medical</th>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
          </thead>
          <tbody id="tbodyPatient">
          <tr *ngFor="let patient of patients | async">
            <td>{{ patient.id }}</td>
            <td>{{ patient.nom }}</td>
            <td>{{ patient.prenom }}</td>
            <td>{{ patient.dateNaissance }}</td>
            <td>{{ patient.adresse }}</td>
            <td>{{ patient.cni }}</td>
            <td><a [routerLink]="'/patients/' + patient.id + '/dossier-medical'">
              <div class="badge badge-dim bg-primary rounded-pill">Dossier Medical</div>
            </a></td>
            <td>
              <button class="btn btn-dim btn-success" (click)="handleUpdatePatient(patient)">
                <em class="icon ni ni-pen-alt-fill"></em>
                <span>Modifier</span>
              </button>
            </td>
            <td>
              <button class="btn btn-dim btn-danger" (click)="handleDeletePatient(patient)">
                <em class="icon ni ni-trash-fill"></em>
                <span>Supprimer</span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .nk-block -->


<button id="openModal" type="button"  class="btn btn-primary" style="display: none;" data-bs-toggle="modal" data-bs-target="#updateModal">modifier</button>

<!-- Update Patient Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier info Patient</h1>
        <button id="closeUpdateForm" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="updateForm" (ngSubmit)="onUpdatePatient()">
        <div class="modal-body">
          <div class="mb-3">
            <input type="text" id="id" formControlName="id" class="form-control" style="display: none;">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" id="nom" formControlName="nom" class="form-control">
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" id="prenom" formControlName="prenom" class="form-control">
          </div>
          <div class="mb-3">
            <label for="dateNaissance" class="form-label">Date de Naissance</label>
            <input type="date" id="dateNaissance" formControlName="dateNaissance" class="form-control">
          </div>
          <div class="mb-3">
            <label for="adresse" class="form-label">Adresse</label>
            <input type="text" id="adresse" formControlName="adresse" class="form-control">
          </div>
          <div class="mb-3">
            <label for="CNI" class="form-label">CNI</label>
            <input type="text" id="CNI" formControlName="cni" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
