<div class="nk-content nk-content-fluid">
  <div class="container-xl wide-xl">
    <div class="nk-content-body">
      <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
          <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Patients</h3>
            <div class="nk-block-des text-soft">
              <p>La liste des patients</p>
            </div>
          </div>
          <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
              <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
              <div class="toggle-expand-content" data-content="pageMenu">
                <ul class="nk-block-tools g-3">
                  <li>
                    <button data-bs-toggle="modal" data-bs-target="#AjouterModal" class="dropdown-toggle btn btn-primary btn-dim">
                      <em class="icon ni ni-plus"></em>
                      <span>
                        <span class="d-md-none">Ajouter</span>
                        <span class="d-none d-md-block">Ajouter Patient</span>
                      </span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
      </div><!-- .nk-block-head -->

      <ng-container *ngIf="patients | async as listPatients; else failureOrLading">
        <app-table-patients [patients]="patients"></app-table-patients>
      </ng-container>

    </div>
  </div>
</div>

<ng-template #failureOrLading>
  <ng-container *ngIf="errorMessage; else loading">
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-container>
  <ng-template #loading>
    Loading .....
  </ng-template>
</ng-template>

  <!-- Ajouter Patient Modal -->
  <div class="modal fade" id="AjouterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nouveau Patient</h1>
          <button id="closeAjouterForm" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="saveForm" (ngSubmit)="onSavePatient()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" id="nom" formControlName="nom" class="form-control">
            </div>
            <div class="mb-3">
              <label for="prenom" class="form-label">Prénom</label>
              <input type="text" id="prenom" formControlName="prenom" class="form-control">
            </div>
            <div class="mb-3">
              <label for="dateNaissance" class="form-label">Date de Naissance</label>
              <input type="date" id="dateNaissance" formControlName="dateNaissance" class="form-control">
            </div>
            <div class="mb-3">
              <label for="adresse" class="form-label">Adresse</label>
              <input type="text" id="adresse" formControlName="adresse" class="form-control">
            </div>
            <div class="mb-3">
              <label for="CNI" class="form-label">CNI</label>
              <input type="text" id="CNI" formControlName="cni" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>

