<div class="nk-block">
  <div class="row g-gs">
    <div class="card card-preview">
      <div class="card-inner">
        <table class="datatable-init table">
          <thead>
          <tr>
            <th>ID</th><th>Nom</th><th>Specialité</th><th>Modifier</th><th>Supprimer</th>
          </tr>
          </thead>
          <tbody id="tbodyProjet">
          <tr *ngFor="let c of medecins | async">
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.specialite}}</td>
            <td>
              <button class="btn btn-dim btn-success" (click)="handleUpdateMedecin(c)">
                <em class="icon ni ni-pen-alt-fill"></em>
                <span>Modifier</span>
              </button>
            </td>
            <td>
              <button class="btn btn-dim btn-danger" (click)="handleDeleteMedecin(c)">
                <em class="icon ni ni-trash-fill"></em>
                <span>Supprimer</span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .nk-block -->

<button id="openModal" type="button" style="display: none;" data-bs-toggle="modal" data-bs-target="#updateModal">modifer</button>

<!-- Update Medecin Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier info Médecin</h1>
        <button id="closeUpdateForm" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="updateForm" (ngSubmit)="onUpdateMedecin()">
        <div class="modal-body">
          <div class="mb-3">
            <input type="text" id="id" formControlName="id" class="form-control" style="display: none;">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" id="nom" formControlName="nom" class="form-control">
          </div>
          <div class="mb-3">
            <label for="specialite" class="form-label">Specialité</label>
            <input type="text" id="specialite" formControlName="specialite" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--
 <td>
      <span  class="badge badge-dot bg-success">Projet Rentable</span>
      <span  class="badge badge-dot bg-danger">Projet Non Rentable</span>
    </td>

 -->
