<!--<div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
  <table class="table table-fixed">
    <thead>
    <tr>
      <th>ID</th>
      <th>Patient</th>
      <th>Médecin</th>
      <th>Date</th>
      <th>Status</th>
      <th>Modifier</th>
      <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rdv of rendezvous | async">
      <td>{{rdv.id}}</td>
      <td>{{rdv.patient.nom}}</td>
      <td>{{rdv.medecin.nom}}</td>
      <td>{{rdv.date | date:'short'}}</td>
      <td>{{rdv.status}}</td>
      <td>
        <button (click)="handleUpdateRendezVous(rdv)" class="btn btn-outline-primary">
          <i class="bi bi-pencil-square"></i>
        </button>
      </td>
      <td>
        <button (click)="handleDeleteRendezVous(rdv)" class="btn btn-danger">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>-->

<div class="nk-block">
  <div class="row g-gs">
    <div class="card card-preview">
      <div class="card-inner">
        <table class="datatable-init table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Patient</th>
            <th>Médecin</th>
            <th>Date</th>
            <th>Status</th>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
          </thead>
          <tbody id="tbodyProjet">
          <tr *ngFor="let rdv of rendezvous | async">
            <td>{{rdv.id}}</td>
            <td>{{rdv.patient.nom}}</td>
            <td>{{rdv.medecin.nom}}</td>
            <td>{{rdv.date}}</td>
            <td [ngSwitch]="rdv.status">
              <div *ngSwitchCase="'CONFIRMER'" class="badge badge-dim bg-success rounded-pill">{{rdv.status}}</div>
              <div *ngSwitchCase="'EN_ATTENTE'" class="badge badge-dim bg-primary rounded-pill">{{rdv.status}}</div>
              <div *ngSwitchCase="'ANNULER'" class="badge badge-dim bg-danger rounded-pill">{{rdv.status}}</div>
            </td>
            <td>
              <button class="btn btn-dim btn-success" (click)="handleUpdateRendezVous(rdv)">
                <em class="icon ni ni-pen-alt-fill"></em>
                <span>Modifier</span>
              </button>
            </td>
            <td>
              <button class="btn btn-dim btn-danger" (click)="handleDeleteRendezVous(rdv)">
                <em class="icon ni ni-trash-fill"></em>
                <span>Supprimer</span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .nk-block -->

<button id="openModal" type="button" class="btn btn-primary" style="display: none;" data-bs-toggle="modal" data-bs-target="#updateModal">Modifier</button>

<!-- Update RendezVous Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier RendezVous</h1>
        <button id="closeUpdateForm" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="updateForm" (ngSubmit)="onUpdateRendezVous()">
        <div class="modal-body">
          <input type="text" id="id" formControlName="id" class="form-control" style="display: none;">
          <div class="mb-3">
            <label for="patient" class="form-label">Patient</label>
            <select id="patient" formControlName="patient" class="form-control">
              <option *ngFor="let patient of patients | async" [value]="patient.id">{{patient.nom}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" id="date" formControlName="date" class="form-control">
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select id="status" formControlName="status" class="form-control">
              <option *ngFor="let status of statusList" [value]="status">{{status}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
